@{
    ViewBag.Title = "修改密码";
    var F = @Html.F();
}

@section head {
    <style>
    .con_main {
        border: 1px solid #ccc;
        _border-radius: 5px;
        padding-bottom: 0px;
        text-align: left;
        margin: 0 20px;
        background-color: #fff;
    }
    .con_main_title {
        height: 40px;
        background-color: #61A4D9;
        padding-left: 40px;
        padding-top: 10px;
    }
    .con_main_title span
{
    color: #fff;
    font-family: 微软雅黑;
    font-size: 20px;
    text-align: center;
}
.con_main .table
{
    font-size: 14px;
}
.con_main .table table tr td
{
    padding: 5px 3px;
    line-height: 18px;
    text-align: left;
}
.con_main .table table tr td.right
{
    text-align: right;
    padding-top: 6px;
    font-size: 15px;
    color: #000;
}
    .con_main .table table tr td dfn
{
    color: #f00;
    padding-right: 5px;
    font-style: normal;
}
.con_main div.input
{
    width: auto;
    height: 31px;
}
.con_main div.tip
{
    width: auto;
    height: 27px;
    color: #666;
    font-size: 12px;
}
    </style>

<style>
    .formtitle .f-field-body {
        text-align: center;
        font-size: 20px;
        line-height: 1.2em;
        margin: 10px 0;
    }
</style>
<style>
    /* margin 属性不能设置到 #SimpleForm1，因为 SimpleForm1 的宽度设置包含了 margin */
    #SimpleForm1_wrapper {
        margin: 100px auto 0 auto;
        width: 350px;
    }
    #SimpleForm2_wrapper {
        margin: 100px auto 0 auto;
        width: 350px;
    }
</style>


}

@section body{
    
    <div class="change_Pwd">
        @(
            F.SimpleForm()
            .ID("SimpleForm1")
            .ShowBorder(true)
            .BodyPadding(10)
            .CssClass("f-shadow")
            .LabelWidth(120)
            .ShowHeader(true)
            .Title("修改密码")
            .Width(400)
            .Items(
                F.TextBox()
                    .ID("tbxOldPwd")
                    .TextMode(TextMode.Password)
                    .Label("旧登录密码")
                    .Required(true)
                    .ShowRedStar(true),
                F.TextBox()
                    .ID("tbxNewPwd")
                    .Label("新登录密码")
                    .TextMode(TextMode.Password)
                    .MaxLength(16)
                    .MinLength(6)
                    .MinLengthMessage("密码最小长度为6位")
                    .MaxLengthMessage("密码最大长度为16位")
                    .Required(true)
                    .ShowRedStar(true),
                F.TextBox()
                    .ID("tbxNewPwd2")
                    .Label("新登录密码确认")
                    .TextMode(TextMode.Password)
                    .Required(true)
                    .CompareControl("tbxNewPwd")
                    .CompareOperator(Operator.Equal)
                    .CompareMessage("两次输入的密码不相同，请重新输入！")
                    .ShowRedStar(true)
            )
            .Toolbars(
                F.Toolbar()
                    .ID("Toolbar1")
                    .ToolbarAlign(ToolbarAlign.Center)
                    .Position(ToolbarPosition.Bottom)
                    .Items(
                        F.Button()
                            .ID("btnLogin")
                            .Text("提交")
                            .Type(ButtonType.Submit)
                            .ValidateForms("SimpleForm1")
                            .ValidateTarget(Target.Top)
                            .OnClick(Url.Action("btnLogin_Click"), "SimpleForm1")
                    )
            )
        )
    </div>

<div class="change_Stu_Pwd">
    @(
 F.SimpleForm()
            .ID("SimpleForm2")
            .ShowBorder(true)
            .BodyPadding(10)
            .CssClass("f-shadow")
            .LabelWidth(120)
            .ShowHeader(true)
            .Title("初始化学生密码")
            .Width(400)
            .Items(
                F.TextBox()
                    .ID("tbxPwd")
                    .Label("请输入登录密码")
                    .EmptyText("辅导员账号密码")
                    .TextMode(TextMode.Password)
                    .Required(true)
                    .ShowRedStar(true),
                F.TextBox()
                    .ID("tbxST_Num")
                    .Label("请输入学生学号")
                    .EmptyText("请输入学生学号")
                    .Required(true)
                    .ShowRedStar(true)
            )
            .Toolbars(
                F.Toolbar()
                    .ID("Toolbar1")
                    .ToolbarAlign(ToolbarAlign.Center)
                    .Position(ToolbarPosition.Bottom)
                    .Items(
                        F.Button()
                            .ID("btnLogin")
                            .Text("提交")
                            .Type(ButtonType.Submit)
                            .ValidateForms("SimpleForm2")
                            .ValidateTarget(Target.Top)
                            .OnClick(Url.Action("btnLogin_Click"), "SimpleForm2")
                    )
            )
    )
</div>





    @(
                F.TabStrip()
                    .ID("TabStrip1")
                    .IsViewPort(true)
                    .ShowBorder(true)
                    .MarginTop(100)
                    .MarginBottom(120)
                    .MarginLeft(120)
                    .MarginRight(120)
                    .TabPosition(TabPosition.Top)
                    .EnableTabCloseMenu(false)
                    .ActiveTabIndex(0)
                    .OnTabIndexChanged(Url.Action("TabStrip1_TabIndexChanged"), new Parameter("activeIndex", "F.ui.TabStrip1.getActiveTabIndex()"))
                    .Tabs(
            F.Tab()
                .Title("密码修改")
                .BodyPadding(5)
                .ContentEl(".change_Pwd"),
            F.Tab()
                .Title("初始化学生密码")
                .BodyPadding(5)
                .ContentEl(".change_Stu_Pwd")
                )
        )
    
            
        


}