@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
    <title>系统登录</title>
    <link href="~/Content/css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/demo.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery1.42.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="~/Scripts/Validform_v5.3.2_min.js"></script>

    <script type="text/javascript">
        $(function () {
            //判断一下当前是不是做顶层，如果不是，则做一下顶层页面重定向
            if (window != top) {
                top.location.href = location.href;
            }
        });
    </script>
</head>
<body>
    @using (Html.BeginForm("login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="header">
            <h1 class="headerLogo">
                <a title="后台管理系统" target="_blank" href="http://som.whut.edu.cn/">
                    <img alt="logo" src="../res/images/qingjia/logo.png" />
                </a>
            </h1>
            <div class="headerNav">
                <a target="_blank" href="http://som.whut.edu.cn/">管理学院官网</a>  <a target="_blank" href="check.aspx">单号查询</a> <a target="_blank"
                                                                                                                               href="ConnectUs.aspx">联系我们</a>
            </div>
        </div>
        <div class="banner">
            <div class="login-aside">
                <div id="o-box-up">
                </div>
                <div id="o-box-down" style="table-layout: fixed; top: -1px; left: 0px;">

                    <div class="form-group" style="margin-top:30px;">
                        <label for="exampleInputEmail1" style="color:white;">ID</label>
                        <input type="number" class="form-control" name="txbAccount" style="width:250px;" placeholder="ID">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" style="color:white;">Password</label>
                        <input type="password" class="form-control" name="txbAccountPass" style="width:250px;" placeholder="默认密码为ID后六位">
                    </div>

                    <div>
                        <div style="margin-top: 30px;">
                            <input type="submit" class="btn btn-default" value="Login" onclick="btnLogin" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd">
                <ul>
                    <li style="background: url(../res/images/qingjia/theme-pic1.jpg) #CCE1F3 center 0 no-repeat;"></li>
                    <li style="background: url(../res/images/qingjia/theme-pic2.jpg) #BCE0FF center 0 no-repeat;"></li>
                </ul>
            </div>
            <div class="hd">
                <ul></ul>
            </div>
        </div>

        <div class="banner-shadow">
            <div class="footer">
                <p>
                    版权所有：武汉理工大学信息管理协会 版本号：171113
                </p>
            </div>
        </div>
    }
    <script type="text/javascript">

        jQuery(".banner").slide({
            titCell: ".hd ul", mainCell: ".bd ul", effect: "fold", autoPlay: true, autoPage: true, trigger: "click"
        });
        function send_btn_onclick() {
        }

    </script>
</body>
</html>
